
.all{
	width:80%;
	margin:auto;
	padding-top:20px;
	line-height:2.0;
	font-family: "M PLUS Rounded 1c";
	color:#543f32;
}

.clearfix:after{
	content:"";
	display:block;
	clear:both;
}


h1{
	background-image:url(https://github.com/umorungit/Hundmadeko-bo-Beni-buy/blob/main/%E9%9B%86%E5%90%882.png?raw=true);
	background-repeat:no-repeat;
	background-size:cover;

	background-color:rgba(255,255,255,0.6);
	background-blend-mode:lighten;

	font-family: "M PLUS Rounded 1c";

	color:#fff;
	text-shadow:5px 5px 4px #f3003a;
	text-align:center;
	width:100%;
	height:200px;
	margin:auto;
	padding-top:150px;
}

.scene1{
	font-size:40px;
}

.scene2{
	font-size:24px;
	font-family: "M PLUS Rounded 1c";
}


.box1{
	background-color:#fcf1f0;
	border:solid 1px #ee827c;
	border-radius:20px 20px;
	padding:10px 20px;
	margin-bottom:30px;
}


.box2{
	display:flex;
	flex-direction:row;
	margin-top:10px;
	margin-bottom:10px;
}

h2{
	color:#d7003a;
	font-size:26px;
	text-align:center;
	border-bottom:dotted 4px #ee827c;
	margin-bottom:10px;
	font-family: "M PLUS Rounded 1c";
}

ol{
	list-style-position:outside;
	margin:5px 30px 10px 30px;
	color:#543f32;
}

.setumei{
}

.text3{
	width:70%;
	margin:auto;
	text-align:center;
}

.text3 img{
	width:80%;
}

.line{
	text-align:center;
}

.line img{
	width:80%;
	margin:auto;
}

.inst{
	text-align:center;
}

.inst img{
	width:80%;
	margin:auto;
}


.box3{
	display:flex;
	flex-direction:row;
}

.box4{
	width:50%;
	padding-right:1%;
}


.boxin{
	border-right:dotted 4px #ee827c;
}

.boxout{
	margin-left:2%;
}


h3{
	font-family: "M PLUS Rounded 1c";
	color:#d7003a;
	text-align:center;
	margin-top:10px;
	margin-bottom:10px;
}


.text2{
	color:#543f32;
	margin-left:15px;
	margin-right:15px;
}






/*ここからスマホ用のCSS*/
@media screen and (max-width: 500px)
{

.all{
	width:90%;
	margin:auto;
	padding-top:20px;
	line-height:2.0;
	font-family: "M PLUS Rounded 1c";
	color:#543f32;
}

.box3{
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
}

.box4{
	width:100%;
	padding-right:1%;
}

.boxin{
	border:none;
	margin-bottom:20px;
}

.boxout{
	margin-top:10px;
	margin-bottom:10px;
	margin-left:2%;
	border-top:dotted 2px #ee827c;
}

.box5{

}





}


